{#
    require document (deliberation) 
#}

<div class='row col-12'>
    <div class='col-2 text-center alert alert-secondary text-danger mb-1'>
        <a href='{{ document.media.fichier.chemin }}' class='text-danger' target='_blanck'>
            <i class="far fa-file-pdf display-4"></i>
        </a>
    </div>
    <div class='col-10'>
        <a href='{{ document.media.fichier.chemin }}' class='text-danger' target='_blanck'>
            {% if document.media.pdf.deliberation.type == 'a_pv' %}
                {# Procès verbal #}
                Procès verbal de la réunion du Conseil Municipal du {{ document.media.pdf.deliberation.date | date("d/m/Y") }}
            {% else %}
                {% if document.media.pdf.deliberation.type == 'b_liste' %}
                    {# Liste des délibérations #}
                    Liste des délibérations examinées par le Conseil Municipal du {{ document.media.pdf.deliberation.date | date("d/m/Y") }}
                {% else %}
                    {% if document.media.pdf.deliberation.type == 'c_delib' %}
                        {# Délibération #}
                        Délibération n° {{ document.media.pdf.deliberation.numero }} ({{ document.media.pdf.deliberation.date | date("d/m/Y") }}) : {{ document.media.pdf.deliberation.titre }}
                    {% endif %}
                {% endif %}
            {% endif %}
        </a>        
    </div>
</div>