{#
    require question
#}

{% set correction = question.correction %}
        
{% if correction is null %}
    <div class='col-3 mb-2'>
        <div class="card">
            <div class="card-header">
                {{question.titre}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{question.ssTitre}}</h5>
                <input type="text" id="{{question.id}}" name="{{question.id}}" autocomplete="off">
            </div>
        </div>
    </div>
{% else %}
    {% if correction == true %}
        <div class='col-3 mb-2'>
            <div class="card text-bg-success">
                <div class="card-header">
                    {{question.titre}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{question.ssTitre}}</h5>
                    <input type="hidden" id="{{question.id}}" name="{{question.id}}" value="{{question.reponse}}">
                    <span>Bonne réponse</span>
                </div>
            </div>
        </div>
    {% else %}
        <div class='col-3 mb-2'>
            <div class="card text-bg-danger">
                <div class="card-header">
                    {{question.titre}}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{question.ssTitre}}</h5>
                    <input type="text" id="{{question.id}}" name="{{question.id}}" autocomplete="off">
                    <span>Désolé, ce n'était pas la bonne réponse...</span>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}