{#
    require question
#}

<div class='col-6 mb-2'>
    <div class="card">
        <div class="card-header">
            {{question.titre}}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{question.ssTitre}}</h5>
        
            {% if question.correction is null %}
                {# <label for="{{question.id}}">{{question.titre}} :</label> #}
                <input type="text" id="{{question.id}}" name="{{question.id}}" autocomplete="off">
            {% else %}
                {% if question.correction == true %}
                    {# <label for="{{question.id}}">{{question.titre}} :</label> #}
                    <input type="hidden" id="{{question.id}}" name="{{question.id}}" value="{{question.reponse}}">
                    <span>Bonne réponse</span>
                {% else %}
                    {# <label for="{{question.id}}">{{question.titre}} :</label> #}
                    <input type="text" id="{{question.id}}" name="{{question.id}}" autocomplete="off">
                    <span>Désolé, ce n'était pas la bonne réponse...</span>
                {% endif %}
            {% endif %}            

        </div>
    </div>
</div>


    
