<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jérôme CARION">

    <title>{% block title %}Admin - Ville de Guesnain{% endblock %}</title>

    <!-- Custom fonts for this template-->
    <link href="{{ asset('template_sb2/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('template_sb2/css/sb-admin-2.min.css') }}" rel="stylesheet">
    <link href="{{ asset('template_sb2/css/contact.css') }}" rel="stylesheet">

    <!-- Custom styles for this page -->
    {# <link href="{{ asset('template_sb2/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet"> #}
    <link href="{{ asset('datatables/media/css/jquery.dataTables.min.css') }}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Menu de gauche -->
        {% include 'interfaces/admin/_menu.html.twig' %}
      <!-- Fin du Menu de gauche -->






      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Affiche ou cache le menu de droite (dans la TopBar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>


          <!-- Topbar Search -->
          {% include 'interfaces/admin/_topbar_recherche.html.twig' %}

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            {% include 'interfaces/admin/_topbar_alert.html.twig' %}

            <!-- Nav Item - Messages -->
            {% include 'interfaces/admin/_topbar_message.html.twig' %}

            <!-- Voir le site -->
            <li class="nav-item no-arrow mx-1">
              <a class="nav-link" href="{{ path('site_accueil') }}" target="_blank" id="alertsDropdown">
                <i class="fas fa-home fa-fw"></i>
              </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            {% include 'interfaces/admin/_user.html.twig' %}

          </ul>

        </nav>
        <!-- End of Topbar -->



        
        


        <!-- Begin Page Content -->
        <div class="container-fluid">

      
          <!-- Messages flash -->
          {% include 'interfaces/admin/_messages_flash.html.twig' %}


          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">
              {% block titre %}
                {{ nav_titre | trans }}
              {% endblock %}
            </h1>
            
            <div>
              {% block menu_rapide %}
              {% endblock %}
              {# <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> #}
            </div>
          </div>



          <!-- Content Row -->
          <div class="row col-12">

            {% block content %}             
            {% endblock %}

          </div>
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include 'interfaces/admin/_footer.html.twig' %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ asset('template_sb2/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('template_sb2/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Utilisation du plugin DataTables -->
  <script src="{{ asset('datatables/media/js/jquery.dataTables.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ asset('template_sb2/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ asset('template_sb2/js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ asset('template_sb2/vendor/chart.js/Chart.min.js') }}"></script>
  {# <script src="{{ asset('template_sb2/vendor/datatables/jquery.dataTables.min.js') }}"></script> #}
  {# <script src="{{ asset('template_sb2/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script> #}

  <!-- Page level custom scripts -->
  {# <script src="{{ asset('template_sb2/js/demo/chart-area-demo.js') }}"></script> #}
  {# <script src="{{ asset('template_sb2/js/demo/chart-pie-demo.js') }}"></script> #}
  {# <script src="{{ asset('template_sb2/js/demo/datatables-demo.js') }}"></script> #}

  

  <script type='text/javascript'>

    // Appel du plugin datatables pour les tableaux d'id dataTable (pas dans un fichier séparer pour pouvoir utilier l'asset)
    $(document).ready(function() {
      $('#dataTable').DataTable({
        pageLength: 50,
        language: {
          url: "{{ asset('datatables/media/french.json') }}",        
      }
    });
    });

    /** Permet l'affichage de tooltip (des étiquettes au dessus des boutons sans texte */ 
    window.onload = tooltip();
    function tooltip()
    { 
          $(function () {
      $('[data-toggle="tooltip"]').tooltip()
      })
    }


    {% block javascript %}             
    {% endblock %}
  </script>
</body>

</html>
