{#
    require format (ArreteMunicipal)
#}
{% set arrete = format %}
<div>
    {{ 'twig.partials.admin.modules.media.info.pdf.arrete.titre' | trans}} {{ arrete.titre }}
</div>
<div>
    {{ 'twig.partials.admin.modules.media.info.pdf.arrete.date' | trans}} {{ arrete.date | date("d/m/Y") }}
</div>
<div>
    {{ 'twig.partials.admin.modules.media.info.pdf.arrete.datedebut' | trans}} {{ arrete.datedebut | date("d/m/Y") }}
</div>
<div>
    {{ 'twig.partials.admin.modules.media.info.pdf.arrete.datefin' | trans}} {{ arrete.datefin | date("d/m/Y") }}
</div>