{% extends 'interfaces/_base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="{{ asset('css/public/bootstrap_simplex.min.css') }}"> #}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/public/header.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <header id="header">
            {% include 'interfaces/public/_part____header.html.twig' %}
            {% block header %}{% endblock %}
        </header>
        <section id="content">
            <div class="container pt-1">                
                
                {% block content %}
                {% endblock %}                
                
            </div>
        </section>
        <footer class="bg-danger text-center">
            <div>Mairie de Guesnain</div>
            {% block footer %}{% endblock %}
        </footer>        
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/public/header.js')}}"></script>
{% endblock %}