{% extends 'partials/public/squelette/_base_public.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {# Zone avec le diaporama #}
    <div class="row">
        <div class="col-12 sc4-header-diaporama"></div>
    </div>
    {# Menu du site #}
    {% include 'partials/public/squelette/_menu.html.twig' %}
     <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {# {{ parent() }} #}
    <script type="text/javascript" src="{{asset('js/public/header_accueil.js')}}"></script>
{% endblock %}