{#
    require evenement
#}
<div class="card mb-2">
    <div class="card-body">
        <a class='text-dark' href="{{ path('site_evenement', {'idevenement': evenement.id}) }}">
            {{evenement.date|format_datetime('full', 'none') | capitalize }}
            {% if evenement.heureDebut != null %}
                à {{ evenement.heureDebut | date('H:i') }}
            {% endif %}
            </br>
            <span class='font-weight-bold'>{{ evenement.titre }}</span> /
            {% for lieu in evenement.lieux %}
                {% if loop.first == false %}
                    /
                {% endif %}
                {{ lieu.nom }}
            {% endfor %}
        </a>
    </div>
</div>