{#
    require evenement
#}
<div class="card mb-2">
    <div class="card-body">
        <a class='text-dark' href="{{ path('site_evenement', {'idevenement': evenement.id}) }}">
            {% include 'entity/classeur/_mod____classeurs____icone.html.twig' with {'classeurs': evenement.classeurs, 'liipFiltre': 'normal4'} only %}
            {{evenement.date|localizeddate('full', 'none', null, null, null) | capitalize }} à {{ evenement.heureDebut | date('H:i') }}</br><span class='font-weight-bold'>{{ evenement.titre }}</span> / {% for lieu in evenement.lieux %}{{ lieu.nom }}{% endfor %}
        </a>
    </div>
</div>