{#
    require evenement
#}
<div class="card mb-2">
    <div class="card-body">
        <a class='text-dark' href="{{ path('site_evenement', {'idevenement': evenement.id}) }}">
            <div class='row'>
                <div class='col-5'>
                    {% include 'entity/classeur/_mod____classeurs____icone.html.twig' with {'classeurs': evenement.classeurs, 'liipFiltre': 'icone6'} only %}
                </div>
                <div class='col-7'>
                    {{evenement.date|format_datetime('full', 'none') | capitalize }}
                    {% if evenement.heureDebut != null %}
                        à {{ evenement.heureDebut | date('H:i') }}
                    {% endif %}
                    </br><span class='font-weight-bold'>{{ evenement.titre }}</span> /
                    {% for lieu in evenement.lieux %}
                        {% if loop.first == false %}
                            /
                        {% endif %}
                        {{ lieu.nom }}
                    {% endfor %}            
                </div>
            </div>
        </a>
    </div>
</div>