{% extends 'interfaces/admin/_base.html.twig' %}

{#
    require chemins
    require nbrLogsAAnalyser
#}

{% block content %}

    Accueil des stats
    <a href='{{ path('admin_stats_analyser') }}'>Analyser ({{ nbrLogsAAnalyser - 1 }})</a>
    <a href='{{ path('admin_stats_nommer') }}'>Nommer</a>

    {% embed 'composants/card/_card_table.html.twig' with {'chemins': chemins} only %}
        {% set nomColonnes = ['#', 'chemin', 'Nombre de vues', 'Dernière vue'] %}
        {% set tbody %}

            {% for chemin in chemins %}
                <tr>
                    <th>{{ chemin.id }}</th>
                    {% if chemin.nom != null %}
                        <th>{{ chemin.nom }}</th>
                    {% else %}
                        <th>
                            {{ chemin.route.nom }}
                            [
                                {% for param in chemin.routeParams %}
                                    {% if loop.first == false %} / {% endif %}
                                    {{ param.param }} : {{ param.valeur }}
                                {% endfor %}                        
                            ]
                        </th>
                    {% endif %}
                    <th>{{ chemin.statsLogs | length }}</th>
                    <th>{{ chemin.statsLogs[0].dateTime | date("d/m/y - H:i") }}</th>
                </tr>
            {% endfor %}

        {% endset %}       
    {% endembed %}

    <ul>
        
    </ul>
    
{% endblock %}