{# Page d'accueil du site #}
{# VALIDE #}
{# DEBUG : problème de menu avec les smartphones #}
{#
    require datesService
#}
{% extends 'interfaces/public/_part____base_accueil.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {# Zone avec le diaporama #}
    <div class="row">
        <div class="col-12 sc4-header-diaporama"></div>
    </div>

    {# Contenu de la page d'Accueil #}
    <div class="row">

        {# Menu rapide (avec les grosses icones) #}
        <div class='col-12'>
            {% include 'interfaces/public/_part____menu.html.twig' %}
        </div>

        {# Bandeau d'annonces #}
        <div class='col-12'>
            {% include 'entity/annonce/_mod____annonces.html.twig' with {'annonces': annonces} only %}            
        </div>

        {# --- Affichage des articles --- #}
        <div class='col-12 col-lg-8'>
            {% include 'entity/article/article/_mod____articles.html.twig'
                with {
                        'titre': 'Actualités',
                        'lienAll': 'site_articles',
                        'titreAll': 'Voir toutes les actualités',
                        'articles': articles
                } only
            %}
        </div>

        {# --- Tableau d'affichage --- #}
        <div class='col-12 col-lg-4'>
            {% include 'entity/classeur/_mod____classeur____diaporama.html.twig'
                with {
                        'classeur': classeurAffiches,
                        'liipFiltre': 'normal4',
                        'titre': "Tableau d'affichage",
                        'zoom': true
                } only 
            %}
        </div>

        {# --- Agenda --- #}
        <div class='col-12'>
            {% include 'entity/agenda/_mod____agenda.html.twig'
                with {
                        'titre': 'Agenda',
                        'lienAll': 'site_evenements',
                        'titreAll': "Voir l'agenda complet",
                        'evenements': evenements,
                        'evenementsPrincipaux': evenementsPrincipaux
                } only
            %}
        </div>

        {# --- En image --- #}
        <div class='col-12 col-lg-6'>
            {% include 'entity/classeur/_mod____classeur____diaporama.html.twig'
                with {
                        'titre': "L'actu en image",
                        'classeur': classeurActus,
                        'liipFiltre': 'actuenimage',
                        'legende': true,
                        'datePhoto': false
                } only 
            %}
        </div>

        {# --- Derniers arrêtés --- #}
        <div class='col-12 col-lg-6'>
            {% include 'entity/classeur/_mod____classeur____arretes_municipaux.html.twig'
                with {
                        'classeur': classeurArretes,
                        'datesService': datesService,
                        'titre': 'Arrêtés municipaux',
                        'lienAll': 'site_arretes_municipaux',
                        'titreAll': 'Voir tous les arrêtés'
                } only
            %}
        </div>

    </div>
    <br/><br/><br/>    
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {# {{ parent() }} #}
    <script type="text/javascript" src="{{asset('js/public/header_accueil.js')}}"></script>
{% endblock %}