{% extends 'interfaces/public/_part____base_accueil.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {# Zone avec le diaporama #}
    <div class="row">
        <div class="col-12 sc4-header-diaporama"></div>
    </div>

    <div class="row">

        {# Menu du site #}
        <div class='col-12'>
            {% include 'interfaces/public/_part____menu.html.twig' %}
        </div>

        {# --- Affichage des articles --- #}
        <div class='col-8'>
            <div class='row'>
                <div class='col-6'>
                    {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "Actualités"} only %}
                </div>
                <div class='col-6 text-right font-weight-bold'>
                    <span class="badge badge-pill badge-danger p-2 m-1">
                        <a href='{{ path('site_articles') }}' class='text-white'>Voir toutes les actualités</a>
                    </span>                    
                </div>
                <div class='col-12'>
                    {% include 'entity/article/_mod____articles____actualites.html.twig' with {'articles': articles} only %}
                </div>
            </div>
        </div>

        {# --- Tableau d'affichage --- #}
        <div class='col-4'>
            <div class='row'>
                {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "Tableau d'affichage"} only %}
                <div class='col-12'>
                    {% include 'entity/classeur/_mod____classeur____diaporama.html.twig' with {'classeur': classeurAffiches, 'liipFiltre': 'icone4'} only %}
                </div>
            </div>
        </div>

        {# --- Agenda --- #}
        <div class='col-12'>
            <div class='row'>
                <div class='col-6'>
                    {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "Agenda"} only %}
                </div>
                <div class='col-6 text-right font-weight-bold'>
                    <span class="badge badge-pill badge-danger p-2 m-1">
                        <a href='{{ path('site_evenements') }}' class='text-white'>Voir l'agenda complet</a>
                    </span>                    
                </div>                
                <div class='col-12'>
                    {% include 'entity/agenda/_mod____agenda_2.html.twig' with {'evenements': evenements, 'evenementsPrincipaux': evenementsPrincipaux} only %}
                </div>
            </div>
        </div>

        {# --- En image --- #}
        <div class='col-6'>
            <div class='row'>
                {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "L'actu en image"} only %}
                <div class='col-12'>
                    {% include 'entity/classeur/_mod____classeur____diaporama.html.twig' with {'classeur': classeurActus, 'liipFiltre': 'actuenimage', 'legende': true, 'datePhoto': true} only %}
                </div>
            </div>
        </div>

        {# --- Derniers arrêtés --- #}
        <div class='col-6'>
            <div class='row'>
                <div class='col-7'>
                    {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': "Arrêtés municipaux"} only %}
                </div>
                <div class='col-5 text-right font-weight-bold'>
                    <span class="badge badge-pill badge-danger p-2 m-1">
                        <a href='{{ path('site_arretes_municipaux') }}' class='text-white'>Voir tous les arrêtés</a>
                    </span>                    
                </div>
                <div class='col-12'>
                    {% include 'entity/classeur/_mod____classeur____arretes_municipaux.html.twig' with {'classeur': classeurArretes} only %}            
                </div>
            </div>
        </div>

    </div>
    <br/><br/><br/>    
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {# {{ parent() }} #}
    <script type="text/javascript" src="{{asset('js/public/header_accueil.js')}}"></script>
{% endblock %}