{% extends 'interfaces/public/_part____base_public.html.twig' %}
{% set titre = 'Envoyer un message à ' ~ profil.humain.prenom ~ ' ' ~ profil.humain.nom %}
{#
    require profil
    require form
#}

{% block title %}
    {{ parent() }} - {{ titre }}
{% endblock %}

{% block content %}

    {# ---- Titre de la page --- #}
        {% include 'interfaces/public/_part____titre_page.html.twig' with {'titre': titre} only %}    

    {# --- Affichage du formulaire --- #}
    <div class='col-12'>
        {{ form_start(form) }}
            {{ form_row(form.objet) }}
            {{ form_row(form.message) }}
            {{ 'Envoyer le message' | trans | BoutonValiderFormulaire }}
        {{ form_end(form) }}
    </div>

{% endblock %}